POSTGRES_DB=linebot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=linebot-gpt-db
POSTGRES_PORT=5432


# LINE Bot関連
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token

# OpenAI APIキー
OPENAI_API_KEY=your_openai_api_key

# Keycloak関連
KEYCLOAK_ADMIN=your_admin_username
KEYCLOAK_ADMIN_PASSWORD=your_admin_password
KC_DB=postgres
KC_DB_URL_HOST=${POSTGRES_HOST}
KC_DB_URL_PORT=${POSTGRES_PORT}
KC_DB_URL_DATABASE=${POSTGRES_DB}
KC_DB_USERNAME=${POSTGRES_USER}
KC_DB_PASSWORD=${POSTGRES_PASSWORD}
